@page "{id}"
@model ServiceHost.Pages.ArticleCategoryModel
@{
    ViewData["Title"] = "مقالات";
}
<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">Blog</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li class="active">Blog</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">


                            <div class="col-lg-9 order-1 order-lg-1">
                                <!--=======  blog page content  =======-->
                                <div class="blog-page-content">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <!--=======  single blog post  =======-->
                                            <div class="single-blog-post">
                                                <div class="single-blog-post__image">
                                                    <a href="blog-post-left-sidebar.html">
                                                        <img src="assets/img/blog/slider/1-370x235.jpg"
                                                             class="img-fluid" alt="">
                                                    </a>

                                                </div>
                                                <div class="single-blog-post__content">
                                                    <h3 class="title">
                                                        <a href="blog-post-left-sidebar.html">
                                                            Buy Used Furniture and
                                                            Used Decor
                                                        </a>
                                                    </h3>
                                                    <p class="post-meta">
                                                        <span class="date">Oct 3, 2019</span>
                                                        <span class="separator">|</span> by <a href="#">HasTech</a>
                                                    </p>
                                                    <p class="short-desc">
                                                        It's no secret, engines and transmissions
                                                        can be very expensive Lorem ipsum dolor sit amet consectetur
                                                        adipisicing elit. A, consequatur....
                                                    </p>
                                                    <a href="blog-post-left-sidebar.html"
                                                       class="blog-post-link">Read More</a>
                                                </div>
                                            </div>
                                            <!--=======  End of single blog post  =======-->
                                        </div>

                                        <div class="col-md-6">
                                            <!--=======  single blog post  =======-->
                                            <div class="single-blog-post">
                                                <div class="single-blog-post__image">
                                                    <a href="blog-post-left-sidebar.html">
                                                        <img src="assets/img/blog/slider/1-370x235.jpg"
                                                             class="img-fluid" alt="">
                                                    </a>

                                                </div>
                                                <div class="single-blog-post__content">
                                                    <h3 class="title">
                                                        <a href="blog-post-left-sidebar.html">
                                                            Buy Used Furniture and
                                                            Used Decor
                                                        </a>
                                                    </h3>
                                                    <p class="post-meta">
                                                        <span class="date">Oct 7, 2019</span>
                                                        <span class="separator">|</span> by <a href="#">HasTech</a>
                                                    </p>
                                                    <p class="short-desc">
                                                        It's no secret, engines and transmissions
                                                        can be very expensive Lorem ipsum dolor sit amet consectetur
                                                        adipisicing elit. Error, numquam....
                                                    </p>
                                                    <a href="blog-post-left-sidebar.html"
                                                       class="blog-post-link">Read More</a>
                                                </div>
                                            </div>
                                            <!--=======  End of single blog post  =======-->
                                        </div>

                                        <div class="col-md-6">
                                            <!--=======  single blog post  =======-->
                                            <div class="single-blog-post">
                                                <div class="single-blog-post__image">
                                                    <a href="blog-post-left-sidebar.html">
                                                        <img src="assets/img/blog/slider/3-370x235.jpg"
                                                             class="img-fluid" alt="">
                                                    </a>

                                                </div>
                                                <div class="single-blog-post__content">
                                                    <h3 class="title">
                                                        <a href="blog-post-left-sidebar.html">
                                                            Minor Wreck? We Got
                                                            The Furniture!
                                                        </a>
                                                    </h3>
                                                    <p class="post-meta">
                                                        <span class="date">Oct 8, 2019</span>
                                                        <span class="separator">|</span> by <a href="#">HasTech</a>
                                                    </p>
                                                    <p class="short-desc">
                                                        It's no secret, engines and transmissions
                                                        can be very expensive Lorem ipsum dolor sit amet consectetur
                                                        adipisicing elit. Iusto, repudiandae....
                                                    </p>
                                                    <a href="blog-post-left-sidebar.html"
                                                       class="blog-post-link">Read More</a>
                                                </div>
                                            </div>
                                            <!--=======  End of single blog post  =======-->
                                        </div>
                                    </div>
                                </div>

                                <div class="pagination-area">
                                    <div class="pagination-area__left">
                                        Showing 1 to 9 of 11 (2 Pages)
                                    </div>
                                    <div class="pagination-area__right">
                                        <ul class="pagination-section">
                                            <li>
                                                <a class="active" href="#">1</a>
                                            </li>
                                            <li>
                                                <a href="#">2</a>
                                            </li>
                                            <li>
                                                <a href="#">></a>
                                            </li>
                                            <li>
                                                <a href="#">>|</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 order-2 order-lg-2">
                                <div class="page-sidebar-wrapper">
                                    <div class="single-sidebar-widget">

                                        <h4 class="single-sidebar-widget__title">Categories</h4>
                                        <ul class="single-sidebar-widget__category-list">
                                            <li class="has-children">
                                                <a href="#" class="active">
                                                    Accessories <span class="counter">15</span>
                                                </a>
                                                <ul>
                                                    <li>
                                                        <a href="#">Brushes <span class="counter">3</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Mascara <span class="counter">5</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Eye Shadow <span class="counter">1</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Eye Brushes <span class="counter">7</span></a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Car Seats <span class="counter">7</span></a>
                                            </li>
                                            <li>
                                                <a href="#">Chair <span class="counter">11</span></a>
                                            </li>
                                            <li>
                                                <a href="#">Engine Parts <span class="counter">17</span></a>
                                            </li>
                                            <li>
                                                <a href="#">Sofas <span class="counter">13</span></a>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="single-sidebar-widget">

                                        <h4 class="single-sidebar-widget__title">Recent Posts</h4>
                                        <div class="block-container">
                                            <div class="single-block d-flex">
                                                <div class="image">
                                                    <a href="blog-post-image-format.html">
                                                        <img src="assets/img/blog/slider/1-370x235.jpg"
                                                             class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p>
                                                        <a href="blog-post-image-format.html">
                                                            The biggest lie in
                                                            furniture
                                                        </a> <span>APRIL 24, 2019</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="single-block d-flex">
                                                <div class="image">
                                                    <a href="blog-post-image-gallery.html">
                                                        <img src="assets/img/blog/slider/2-370x235.jpg"
                                                             class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p>
                                                        <a href="blog-post-image-gallery.html">
                                                            How to improve
                                                            furniture quality
                                                        </a> <span>APRIL 24, 2019</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="single-block d-flex">
                                                <div class="image">
                                                    <a href="blog-post-audio-format.html">
                                                        <img src="assets/img/blog/slider/3-370x235.jpg"
                                                             class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p>
                                                        <a href="blog-post-audio-format.html">
                                                            101 ideas for
                                                            furniture
                                                        </a> <span>APRIL 24, 2019</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="single-block d-flex">
                                                <div class="image">
                                                    <a href="blog-post-video-format.html">
                                                        <img src="assets/img/blog/slider/4-370x235.jpg"
                                                             class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p>
                                                        <a href="blog-post-video-format.html">
                                                            No more mistakes with
                                                            furniture
                                                        </a> <span>APRIL 24, 2019</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="single-sidebar-widget">

                                        <h4 class="single-sidebar-widget__title">Recent Comments</h4>
                                        <div class="block-container">
                                            <div class="single-block comment-block d-flex">
                                                <div class="image">
                                                    <a href="blog-post-image-format.html">
                                                        <img src="assets/img/blog/comment-icon.png"
                                                             class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p>
                                                        <span>Admin Says</span> <a href="blog-post-image-format.html">
                                                            The biggest lie in
                                                            plant
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>

                                            <!--=======  End of single block  =======-->
                                            <!--=======  single block  =======-->

                                            <div class="single-block comment-block d-flex">
                                                <div class="image">
                                                    <a href="blog-post-image-gallery.html">
                                                        <img src="assets/img/blog/comment-icon.png"
                                                             class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p>
                                                        <span>Admin Says</span><a href="blog-post-image-gallery.html">
                                                            How to improve plant
                                                            quality
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>

                                            <!--=======  End of single block  =======-->
                                            <!--=======  single block  =======-->

                                            <div class="single-block comment-block d-flex">
                                                <div class="image">
                                                    <a href="blog-post-audio-format.html">
                                                        <img src="assets/img/blog/comment-icon.png"
                                                             class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p>
                                                        <span>Admin Says</span><a href="blog-post-audio-format.html">
                                                            101 ideas for
                                                            plant
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>

                                            <!--=======  End of single block  =======-->
                                            <!--=======  single block  =======-->

                                            <div class="single-block comment-block d-flex">
                                                <div class="image">
                                                    <a href="blog-post-video-format.html">
                                                        <img src="assets/img/blog/comment-icon.png"
                                                             class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p>
                                                        <span>Admin Says</span><a href="blog-post-video-format.html">
                                                            No more mistakes with
                                                            plant
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>

                                            <!--=======  End of single block  =======-->

                                        </div>

                                        <!--=======  End of block container  =======-->
                                    </div>
                                    <!--=======  End of single sidebar widget  =======-->
                                    <!--=======  single sidebar widget  =======-->
                                    <div class="single-sidebar-widget">
                                        <h4 class="single-sidebar-widget__title">Popular Tags</h4>
                                        <ul class="single-sidebar-widget__tag-list">
                                            <li>
                                                <a href="#">Car Seats</a>
                                            </li>
                                            <li>
                                                <a href="#">Chair</a>
                                            </li>
                                            <li>
                                                <a href="#">Engine Parts</a>
                                            </li>
                                            <li>
                                                <a href="#">Sofas</a>
                                            </li>
                                            <li>
                                                <a href="#">Sofas</a>
                                            </li>
                                            <li>
                                                <a href="#">Decor</a>
                                            </li>
                                            <li>
                                                <a href="#">Furniture</a>
                                            </li>
                                            <li>
                                                <a href="#">Chair</a>
                                            </li>

                                        </ul>
                                    </div>
                                    <!--=======  End of single sidebar widget  =======-->
                                </div>
                                <!--=======  End of page sidebar wrapper  =======-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>