@page
@model ServiceHost.Pages.CheckOutModel
@{
    ViewData["Title"] = "تایید سبد خرید و پرداخت";
}
<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">تایید سبدخرید/پرداخت</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a asp-page="./Index">صفحه اصلی</a>
                            </li>
                            <li class="active">تایید سبدخرید/پرداخت</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  page wrapper  =======-->
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <form action="#">
                            <div class="cart-table table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="pro-thumbnail">عکس</th>
                                            <th class="pro-thumbnail">محصول</th>
                                            <th class="pro-title">قیمت واحد</th>
                                            <th class="pro-price">تعداد</th>
                                            <th class="pro-quantity">مبلغ کل بدون تخفیف</th>
                                            <th class="pro-subtotal">درصد تخفیف</th>
                                            <th class="pro-subtotal">مبلغ کل تخفیف</th>
                                            <th class="pro-remove">مبلغ پس از تخفیف</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="pro-thumbnail">
                                                <a href="single-product.html">
                                                    <img src="assets/img/products/big1-1.jpg" class="img-fluid"
                                                         alt="Product">
                                                </a>
                                            </td>
                                            <td class="pro-title">
                                                <a href="single-product.html">
                                                    Cillum dolore tortor nisl
                                                    fermentum
                                                </a>
                                            </td>
                                            <td class="pro-price">
                                                <span>$29.00</span>
                                            </td>
                                            <td class="pro-price">
                                                <span>10</span>
                                            </td>
                                            <td class="pro-subtotal">
                                                <span>$29.00</span>
                                            </td>
                                            <td class="pro-subtotal">
                                                <span>$29.00</span>
                                            </td>
                                            <td class="pro-subtotal">
                                                <span>$29.00</span>
                                            </td>
                                            <td class="pro-subtotal">
                                                <span>$29.00</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>

                        <div class="row">
                            <div class="col-lg-6 col-12 d-flex">
                                <div class="cart-summary">
                                    <div class="cart-summary-wrap">
                                        <h4>خلاصه وضعیت فاکتور</h4>
                                        <p>مبلغ نهایی <span>$1250.00</span></p>
                                        <p>مبلغ تخفیف <span>$00.00</span></p>
                                        <h2>مبلغ قابل پرداخت <span>$1250.00</span></h2>
                                    </div>
                                    <div class="cart-summary-button">
                                        <a class="checkout-btn">پرداخت</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>