@page
@model ServiceHost.Pages.PaymentRessultModel
@{
    ViewData["Title"] = "نتیجه پرداخت";
}

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @if (Model.Result.IsSuccessful)
                {
                    <div class="alert alert-success ">
                        <p>@Model.Result.Message</p>
                        <p>
                            شماره پیگیری  <strong> @Model.Result.IssueTrackingNo</strong>
                        </p>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger ">
                        <p>@Model.Result.Message</p>
                        
                    </div>
                }
            </div>
        </div>
    </div>
</div>